<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Welcome Archer @ViewBag.Name</h2>
    <div class="box1">
        @{
            <h3> Level: @ViewBag.Lv</h3>
            <h3> Experience @ViewBag.Exp</h3>
            <h3> Strength: @ViewBag.Str</h3>
            <h3> Intelligence: @ViewBag.Int</h3>
            <h3> Dexterity: @ViewBag.Dex</h3>
            <h3> Health Point: @ViewBag.Hp</h3>
            
        }
    </div>
    <hr>
    <button>  <a href="/train/@ViewBag.Id">Train</a>  </button>

</body>
</html>